/* ==========================================================================
   HTML5 Boilerplate styles - h5bp.com (generated via initializr.com)
   ========================================================================== */

html,
button,
input,
select,
textarea {
    color: #222;
}

body {
    font-size: 1em;
    line-height: 1.4;
}

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

img {
    vertical-align: middle;
}

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

textarea {
    resize: vertical;
}

.chromeframe {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}


/* ==========================================================================
   Author's custom styles
   ========================================================================== */

html, body {
    margin: 0;
    padding: 0;
    height: 100%;
}

body {
    position: relative;
    background: url('../img/wood.png');
}

* {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
}

a, button, input {
    transition: all .15s ease-in-out;
}

aside {
    margin: 0 auto 40px;
    padding: 10px;
    text-align: center;
    font-size: 13px;
    color: #7A5436;
    background: rgba(255,255,255,.2);
    border-bottom: 1px solid rgba(255,255,255,.3);
}

.wrapper {
    position: relative;
    min-height: 100%;
}

#outer-container {
    width: 550px;
    margin: 0 auto;
    padding-bottom: 150px;
    border-radius: 6px;
}

#container {
    position: relative;
    height: 100%;
    padding: 11px;
    background: #C50538;
    box-shadow: 0 4px 8px 3px rgba(0, 0, 0, 0.15);
}

#container:before {
    content: " ";
    position: absolute;
    z-index: 0;
    top: 5px;
    left: 5px;
    right: 5px;
    bottom: 5px;
    border: 2px dotted #E27474;
    border-radius: 3px;
}

#inner-container {
    position: relative;
    height: 100%;
    padding: 0 10px 10px 20px;
    background: white url('../img/paper.png');
    border-radius: 4px;
    border: 2px solid #C50538;
    box-shadow: inset 0 0 50px rgba(0, 0, 0, 0.1);
    overflow: hidden;
}

    #inner-container:before {
        content: " ";
        position: absolute;
        z-index: 0;
        top: 5px;
        left: 5px;
        right: 5px;
        bottom: 5px;
        border: 2px solid #B0DA8A;
        border-radius: 3px;
        pointer-events: none;
    }

h1 {
    margin-bottom: 10px;
    text-align: center;
    font-size: 2.2em;
    font-family: 'Abril Fatface', sans-serif;
    color: #4C8F0E;
}

header {
    margin-right: 10px;
}

ul {
    list-style: none;
    padding-left: 0;
}

#main-list {
    overflow-x: hidden;
    padding: 0 20px 10px 10px;
}

    #main-list ul {
        margin: .25em 0;
    }

    #main-list li {
        position: relative;
        width: 100%;
        padding: 5px 35px 1px 10px;
        outline: none;
        border: none;
        border-bottom: 1px solid #ddd;
        font-size: 23px;
        font-family: 'Patrick Hand', sans-serif;
        color: #222;
        -webkit-mask-image: url('../img/mask.png');
        -o-mask-image: url('../img/mask.png');
        -moz-mask-image: url('../img/mask.png');
        mask-image: url('../img/mask.png');
        -webkit-font-smoothing: subpixel-antialiased;
    }

        #main-list li:hover button {
            opacity: 1;
        }


        #main-list li button {
            opacity: 0;
            position: absolute;
            right: 7px;
            top: 5px;
            height: 24px;
            width: 24px;
            border: 0;
            background: #F3E2E2;
            color: #E27474;
            border-radius: 50%;
            line-height: 1;
            font-size: 17px;
            padding: 0;
            padding-bottom: 1px;
            -webkit-appearance: none;
        }

            #main-list li button:hover {
                background: #F3CECE;
            }

            #main-list li button:active {
                top: 6px;
            }

            #main-list li button:focus {
                outline: 0;
            }

form {
    padding: 10px;
}


    form input {
        width: 100%;
        padding: 8px 12px;
        border: 1px solid #ddd;
        background: #f7f7f7;
        border-radius: 3px;
        font-size: 1.35em;
        font-family: 'Patrick Hand', sans-serif;
        -webkit-font-smoothing: subpixel-antialiased;
    }

    form input:focus {
        outline: 0;
        border: 1px solid #BBD68A;
        background: #F3F7ED;
    }

.notice {
    display: block;
    width: auto;
    margin: 0 auto;
    text-align: center;
}

.notice h5 {
    font-size: 1.25em;
    font-weight: normal;
    line-height: 1.25;
    color: #7A5436;
    font-family: 'Abril Fatface', sans-serif;
    text-shadow: 0 -1px 0 rgba(255,255,255,.2);
    -webkit-font-smoothing: subpixel-antialiased;

}
    .notice h5 a {
        color: #4E2E14;
    }

        .notice h5 a:hover {
            color: green;
        }

footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 150px;
    background: url('../img/tree.png') repeat-x center bottom;
}

    footer h6 {
        text-align: center;
    }

    footer h6 a {
        color: #aaa;
        color: rgba(0,0,0,.4);
        text-decoration: none;
        text-transform: uppercase;
        transition: all .15s linear;
    }

    footer h6 a img {
        position: relative;
        top: -1px;
        transition: all .15s linear;
    }
        
        footer h6 a:hover {
            color: rgba(0,0,0,.6);
        }

        footer h6 a:hover img {
            position: relative;
        }

/* ==========================================================================
   Media Queries
   ========================================================================== */

@media only screen and (min-width: 35em) {

}

@media print,
       (-o-min-device-pixel-ratio: 5/4),
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 120dpi) {

}

/* ==========================================================================
   Helper classes
   ========================================================================== */

.ir {
    background-color: transparent;
    border: 0;
    overflow: hidden;
    *text-indent: -9999px;
}

.ir:before {
    content: "";
    display: block;
    width: 0;
    height: 150%;
}

.hidden {
    display: none !important;
    visibility: hidden;
}

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

.invisible {
    visibility: hidden;
}

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    *zoom: 1;
}

/* ==========================================================================
   Print styles
   ========================================================================== */

@media print {
    * {
        background: transparent !important;
        color: #000 !important; /* Black prints faster: h5bp.com/s */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links for images, or javascript/internal links
     */

    .ir a:after,
    a[href^="javascript:"]:after,
    a[href^="#"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group; /* h5bp.com/t */
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    @page {
        margin: 0.5cm;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
